@import url(reset.css);
@import url(typography.css);
@import url(colors.css);
@import url(layout.css);
@import url(components.css);

html {
    scroll-behavior: smooth;
    font-size: 16px;

    @media(max-width: 768px) {
        font-size: 14px;
    }
}